#showhide_controls{
  position:static;
  display:block;
}
#investment_toggle{
  display:inline;
}
#return_toggle{
  display:inline;
}
#tooltip-bg{
  display:none;
}
#tooltip{
  border: 1px solid #ccc;
  position:absolute;
}