canvas {
 /* background-color: gray;*/
}

div.rounded {
  border: 1px solid #333;
  border-radius: 12px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

#outer {
  width: 1000px;
  /*position: absolute;*/
}

#outer * {
  box-sizing: initial;
}

div.institution {
  position: absolute;
  padding: 2px;
  background-color: #ccc;
  overflow: auto;
}

div.institution p {
  margin: 16px 0px;
}

div.sub-inst {
  color: white;
  margin: 10px;
  padding: 2px;
  display:inline-block;
}

div.sub-inst p {
  font-size: 16px;
  margin: 5px;
}

#providers-title {
  left: 20px;
  top: 30px;
  width: 200px;
  height: 60px;
}

#providers {
  left: 20px;
  top: 110px;
  width: 200px;
}

#depository {
  top: 30px;
  left: 780px;
  width: 200px;
  height: 60px;
}

#targets {
  top: 210px;
  left: 780px;
  width: 200px;
  height: 75px;
}

#funds {
  top: 210px;
  left: 400px;
  width: 200px;
  height: 104px;
}

#intermediaries {
  top: 405px;
  left: 300px;
  width: 400px;
}

#marketplace {
  top: 640px;
  left: 20px;
  width: 960px;
}

#outer {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#outer div * {
  color: white;
}

#outer div ul {
  text-align: left;
}

#outer div ul li {
  float: left;
  width: 50%;
}

#tooltip{
  position:fixed;
  top:50%;
  left:50%;
  width:300px;
  height:300px;
  text-align: center;
  margin:-150px;
  z-index:1000;
  color:white;
  background:#333;
  border-radius:5px;
}
#tooltip li{
  display:inline-block;
  list-style:none;
  padding:5px;
  border-radius:5px;
  background:#222;
  margin:5px;
}
#tooltip-bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#333;
  background:rgba(150,150,150,0.5);
  z-index:999;
}
.clickable, .institution.clickable{
  background-color:#aaa;
  cursor:pointer;
}
.clickable:hover{
  border-color:white;
};